body {
  background: #E9EBEE;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.timetable-section {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.timetable-section:hover {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #007bff;
}

.timetable-section:active {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #004b9c;
}

.timetable-section-times {
  color: #000000;
}

.timetable-section-stats {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #000000;
}

.m {
  background: #eec584;
}

.a {
  background: #62929e;
}

.e {
  background: #4a6d7c;
}

.x {
  background: #c6c5b9;
}
