body {
  background: #E9EBEE;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.timetable-section {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.timetable-section:hover {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #007bff;
}

.timetable-section:active {
  border-width: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #004b9c;
}

.timetable-section-times {
  color: #000000;
}

.timetable-section-stats {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #000000;
}

.m {
  background: radial-gradient(circle, rgba(225,248,255,1) 0%, rgba(110,176,228,1) 100%);
}

.a {
  background: radial-gradient(circle, rgba(255,224,145,1) 0%, rgba(205,79,120,1) 100%);
}

.e {
  background: radial-gradient(circle, rgba(132,183,237,1) 0%, rgba(10,5,102,1) 100%);
}

.x {
  background: radial-gradient(circle, rgba(151,195,249,1) 0%, rgba(193,79,205,1) 100%);
}
