<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}" />
    <!-- Search by Google -->
    <meta name="google-site-verification" content="2idKE5RPm7i1P9Kap980iC3yIGez3Pr9NdZOws-W9l4" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146918639-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-146918639-1');
    </script>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>classio - About</title>
    <meta name="description" content="An easy way to create timetables!">
    <meta name="keywords" content="optimize, web app, waterloo, queens, ubc, university, timetable, class">
    <meta name="author" content="Ekim Karabey">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />

    <!-- Bootstrap & Dependancies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="jumbotron container mt-4" style="background:#ffffff">
        <h1 class='text-center mb-5'> <a href="{{url_for('main.home')}}"> classio</a> • About </h1>
        <p>
            <font size="+0"> If you are confused about classio, please refer to the <a href="{{url_for('main.faq')}}">
                    FAQ
                </a> page.
            </font>
        </p>
        <h3> Intro </h3>
        <p>
            <font size="+0">
                Classio was made because I found myself struggling every year, putting off class selection for as long
                as I could. It was an easy process, but very tedious. Tedious work and computers are a no brainer.
            </font>
        </p>
        <h3> Scraping </h3>
        <p>
            <font size="+0">
                My first problem was having to scrape the class times from the university's master list. For UBC, I
                found a <a href="https://www.reddit.com/r/UBC/comments/aupojv/ubc_courses_api/"> student-made API</a>,
                and used that.
                </br>
                </br>
                For Waterloo there was an API, but it was under maintenance. They did have a <a
                    href="http://www.adm.uwaterloo.ca/infocour/CIR/SA/under.html"> database of all the class times</a>,
                so I scraped that using requests and BeautifulSoup.
                </br>
                </br>
                Queen's was the school I scraped first, and it was also the hardest. The course information is displayed
                using javascript, so I had to use Selenium. Unlike the other two, classes have to scraped before the
                query. When you type a query for Waterloo or UBC, that class' information is pulled in real time. For
                Queen's it's pulled from a local database, which gets filled every time I run the Queen's scrape.
            </font>
        </p>
        <h3> Optimizing </h3>
        <p>
            <font size="+0">
                Once all the class times are pulled, the sections are separated into two categories: constant and
                variable. Constant sections have only one option (eg: A class has lectures at only one time), whereas
                variable sections present a list of different times. A permutation of all possible times is generated by
                going through each combination of variable times.
                </br>
                </br>
                Once combinations are generated, a sweep is made to eliminate any that have conflicting times.
                Obviously, a timetable with conflicting times shouldn't be shown to the user.
                </br>
                </br>
                A final pass is made through the remaining timetables to generate a score, as well as other useful
                information. The final result of the optimization is a list of timetables, sorted by score.
            </font>
        </p>
        <h3> Front-end </h3>
        <p>
            <font size="+0">
                The front-end is made with Bootstrap and jQuery. The tech behind it isn't interesting at all, as it is
                just simple code.
            </font>
        </p>
    </div>
</body>

</html>