<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}" />
  <!-- Search by Google -->
  <meta name="google-site-verification" content="2idKE5RPm7i1P9Kap980iC3yIGez3Pr9NdZOws-W9l4" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146918639-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-146918639-1');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>classio - {{university}}</title>
  <meta name="description" content="An easy way for {{university}} students to create timetables!">
  <meta name="keywords" content="optimize, web app, waterloo, queens, ubc, university, timetable, class">
  <meta name="author" content="Ekim Karabey">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />

  <!-- Bootstrap & Dependancies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="jumbotron container mt-4" style="background:#ffffff">
    <div class="text-center mb-3" id="intro">
      <h1 class='text-center'> <a href="{{url_for('main.home')}}"> classio</a> • {{university}} </h1>
      <h4 class='text-center'> Made by <a href='https://www.linkedin.com/in/ekim-karabey-b94098175/'>Ekim Karabey</a>
        with ❤️</h4>
      <small> Found a bug? Have an idea for a new feature? <a
          href="https://docs.google.com/forms/d/1FNYSnC7lkeZQt-3fw_PotWnGe5q40A5vKZaJDMRs5b4/edit"> Let me know! </a>
      </small>
    </div>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="row">
          <div class="form-group col">
            {{ form.classes.label(class="form-control-label")}}
            {% if form.classes.errors %}
            {{ form.classes(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.classes.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.classes(class="form-control form-control-lg") }}
            {% endif %}
            <small> Enter your classes as: CLAS101,CLAS102,CLAS103... </small>
          </div>
          <div class="form-group col-auto">
            {{ form.semester.label(class="form-control-label")}}
            {% if form.semester.errors %}
            {{ form.semester(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.semester.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.semester(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="text-center mb-3">
          <a data-toggle="collapse" href="#advanced_options"> Toggle Advanced Options </a>
        </div>
        <div id="advanced_options" class="collapse">
          <div class="form-group">
            <div class="col text-center">
              {{ form.lunch.label(class="form-control-label col")}}
            </div>
            {% if form.lunch.errors %}
            {{ form.lunch(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.semester.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <div class="row">
              <p class="col-auto"> Not Important </p>
              {{ form.lunch(class="form-control-range col mb-2", min=0, max=100) }}
              <p class="col-auto"> Very Important </p>
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <div class="col text-center">
              {{ form.dinner.label(class="form-control-label col")}}
            </div>
            {% if form.dinner.errors %}
            {{ form.dinner(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.semester.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <div class="row">
              <p class="col-auto"> Not Important </p>
              {{ form.dinner(class="form-control-range col mb-2", min=0, max=100) }}
              <p class="col-auto"> Very Important </p>
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <div class="col text-center">
              {{ form.offtime.label(class="form-control-label")}}
            </div>
            {% if form.offtime.errors %}
            {{ form.offtime(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.semester.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <div class="row">
              <p class="col-auto"> Not Important </p>
              {{ form.offtime(class="form-control-range col mb-2", min=0, max=100) }}
              <p class="col-auto"> Very Important </p>
            </div>
            {% endif %}
          </div>

          <div class="form-group col">
            {{ form.lunch_start.label(class="form-control-label text-center col-12 mb-3")}}
            <div class="row">
              {% if form.lunch_start.errors %}
              {{ form.lunch_start(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.lunch_start.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.lunch_start(class="form-control form-control-lg col text-center") }}
              {% endif %}
              <div class="col-auto">
                <h2> - </h2>
              </div>
              {% if form.lunch_end.errors %}
              {{ form.lunch_end(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.lunch_end.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.lunch_end(class="form-control form-control-lg col text-center") }}
              {% endif %}
            </div>
          </div>

          <div class="form-group col">
            {{ form.dinner_start.label(class="form-control-label text-center col-12 mb-3")}}
            <div class="row">
              {% if form.dinner_start.errors %}
              {{ form.dinner_start(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.dinner_start.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.dinner_start(class="form-control form-control-lg col text-center") }}
              {% endif %}
              <div class="col-auto">
                <h2> - </h2>
              </div>
              {% if form.dinner_end.errors %}
              {{ form.dinner_end(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.dinner_end.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.dinner_end(class="form-control form-control-lg col text-center") }}
              {% endif %}
            </div>
          </div>

          <div class="form-group">
            <div class="col text-center">
              {{ form.wake_up.label(class="form-control-label col")}}
            </div>
            {% if form.wake_up.errors %}
            {{ form.wake_up(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.wake_up.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.wake_up(class="form-control form-control-lg col-auto text-center") }}
            {% endif %}
          </div>
        </div>
      </fieldset>
      {{ form.submit(class="btn btn-dark mb-3 btn-block") }}
    </form>
    <p class="mb-3"><small> <b> New:</b> You can now specify classes! For example, if you want to take MATH121 with the
        LDI 3937 and
        TUT
        3592 you can enter MATH121(LDI:3937-TUT:3592), ...
        </br>
        <b> Fix:</b> There was a small error with eliminating overlap with certain classes, now fixed!
      </small> </p>
    </br>
    <p class='text-center'> <a href="{{ url_for('main.faq')}}"> FAQ </a> • <a href="{{ url_for('main.about')}}"> About
      </a> • <a href="https://github.com/Ekimerton/classio"> Github
      </a> </p>
  </div>

  <div class="text-center mb-4">
    <iframe
      src="//rcm-na.amazon-adsystem.com/e/cm?o=15&p=12&l=ur1&category=amazonhomepage&f=ifr&linkID=84ac901ffcda35ac8d3f9b1d4b1359d1&t=classio0e-20&tracking_id=classio0e-20"
      width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0">
    </iframe>
  </div>

  {% if class_list is defined and ledger is defined %}
  <div class="container jumbotron p-3" style="background:#ffffff">
    <h2 class='text-center'> Number of options: {{len}} </h2>
    {% if len > 99 %}
    <p class='text-center'> Displaying the best 100 results. </p>
    {% endif %}
    <a class='text-center' data-toggle="modal" href="#tips">
      <p> What do these results mean? </p>
    </a>
    {% for class in class_list %}
    <article class="timetable">
      <div class="m-3 timetable-section" style="border-width: 5px;border-bottom-style: solid">

        <!-- Clickable collapse toggle -->
        <a data-toggle="collapse" href="#section{{loop.index}}" style="text-decoration: none">
          <div class="row" style="margin: auto">
            <div class='col-auto text-center' style="background:#343A40;color:#ffffff">
              <h2 class='m-2'> {{round((50 - class['stats']['score']) * 2, 1)}}% </h2>
            </div>
            <div class='col text-center {{class['stats']['day_type']}}' style="color:#000000">
              {%if class['stats']['day_type'] == 'm'%}
              <h2 class="mb-1 mt-1 p-1 pl-3 pr-3">Early</h2>
              {%elif class['stats']['day_type'] == 'a'%}
              <h2 class="mb-1 mt-1 p-1 pl-3 pr-3">Midday</h2>
              {%elif class['stats']['day_type'] == 'e'%}
              <h2 class="mb-1 mt-1 p-1 pl-3 pr-3">Late</h2>
              {%elif class['stats']['day_type'] == 'x'%}
              <h2 class="mb-1 mt-1 p-1 pl-3 pr-3">Mixed</h2>
              {%endif%}
            </div>
            <div class="row col-12 timetable-section-stats" style="margin: auto">
              <div class="col text-center" style="margin: auto">
                <p class="mb-1 mt-1"> lunches free: {{class['stats']['lunch']}} </p>
              </div>
              <div class="col text-center" style="margin: auto">
                <p class="mb-1 mt-1"> dinners free: {{class['stats']['dinner']}} </p>
              </div>
              <div class="col text-center" style="margin: auto">
                <p class="mb-1 mt-1"> time between classes: {{class['stats']['time_off']}}h </p>
              </div>
            </div>
          </div>
        </a>

        <!-- Collapsible Portion -->
        <div id="section{{loop.index}}" class="collapse container-fluid">
          {% set day_list = days_list[loop.index - 1] %}
          <div class="row timetable-section-times">
            {% for section in day_list %}
            <div class='text-center col' style="padding-left: 0; padding-right: 0">
              <p class='p-2' style="color:#ffffff; background:#343A40"> {{day_dict[loop.index]}} </p>
              {% for time in section %}
              <p class="p-1 m-3"> {{pretty_time(time)}} <p>
                  {% endfor %}
            </div>
            {% endfor %}
          </div>
          <a class='text-center' data-toggle="modal" href="#selection{{loop.index}}">
            <div class='row'
              style="border-width: 3px; border-top-width: 3px; border-top-style: solid; border-color: #343A40;">
              <p class='m-2 text-center col'> What should I pick? </p>
            </div>
          </a>
        </div>

        <!-- Selection Modal -->
        <div id="selection{{loop.index}}" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Your timetable</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row timetable-section-times m-1">
                  {% for section in class['classes']%}
                  <div class='text-center col' style="padding-left: 0; padding-right: 0">
                    <a data-toggle="tooltip" title="{{section[0]}}">
                      <p class='p-2' style="color:#ffffff; background:#343A40"> {{ledger[loop.index - 1]}} </p>
                    </a>
                    {% for time in section[1:] %}
                    <p class="p-1 m-3"> {{pretty_time(time)}} <p>
                        {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
    </article>
    {% endfor %}
  </div>

  <!-- Tip Modal -->
  <div id="tips" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">How the results work</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Classio finds every working combination of times within your classes, and scores it based on three
            categories: </p>
          <ul>
            <li>Lunches missed </li>
            <li>Dinners missed </li>
            <li>Time wasted between classes </li>
          </ul>
          <h4>The main bar</h4>
          <p> The main bar on any timetable selection has two components: the <b> score </b> and the <b> day-time
              indicator</b>.</p>
          <p> The <b> score </b> is the percentage point in the top left corner of a timetable. A higher score means
            less meals missed/less time between classes. The score is calculated using the factors mentioned above. The
            weighting for each factor changes if you tweak your priorities within <i> Advanced Options </i>.
          </p>
          <p> The <b> day-time indicator </b> gives you a general idea as to when most of your classes will take place.
            Morning classes start before 11:30AM, afternoons start between 11:30AM - 4:30PM, evenings start after
            4:30PM. A mixed rating means the day has too wide of a range to classify (a day might start at 8:30AM and
            end at 5:30PM).
          </p>
          <h4>The dropdown content</h4>
          <p> Once clicked on, a timetable will drop down a table which shows when each class was picked to be in.
            Additionally, <b> hovering over the class name </b> (eg: MATH101:LEC) will reveal the section number used in
            the timetable.</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>

</html>